/* fix prism highlight */
.token.number {
  display: inline;
  padding: inherit;
}

blockquote {
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

blockquote p:last-child {
  margin-bottom: auto;
}

img.svgicon {
  margin: 0 0.25em;
  vertical-align: text-bottom;
  width: 1.3em;
}

section *.shadow {
  animation: none;
  -webkit-animation: none;
}

section.current {
  transition: zoom 0.5s;
}